{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}
<div id="">
    <a href="{{ path('green') }}">green</a>
    <a href="{{ path('blue') }}">blue</a>
    <a href="{{ path('red') }}">red</a>
    {#<p>{{ execReturn }}</p>#}
    {#<p>{{ output }}</p>#}
    {#<p>{{ returnVar }}</p>#}
</div>
{% endblock %}

